Host		{{ (bitwardenFields "item" "my_server").Host.value }} 
HostName	{{ (bitwardenFields "item" "my_server").HostName.value }}  
User		{{ (bitwardenFields "item" "my_server").User.value }}  
Port		{{ (bitwardenFields "item" "my_server").Port.value }} 
